<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/bootstrap.css">
  </head>

        <style>
.center-row {
height: 100vh;
	display:table;
}
.center {
	display:table-cell;
    vertical-align:middle;
    float:none;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}
.form-control {
   width: 276px;
}

</style>
  <body>
<div class="container">
<div class="row center-row">
<div class="col-sm-5 center">
<h1>Docker 101</h1>

        {{ content }}

<p><a href="https://bysika.cz">Ondrej Sika</a>
/ <a href="https://skoleni-git.cz">skoleni-git.cz</a>
/ <a href="https://skoleni-docker.cz">skoleni-docker.cz</a>
/ <a href="https://sedu.cz">SEDU.cz</a>
</div>
</div>
</div>
  </body>
</html>


